<a href="https://colab.research.google.com/github/Swathi-Thandavarayan/NIFTY--STOCK-MARKET-ANALYSIS/blob/main/STOCK_MARKET_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive

# Mount your Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import glob

path = "/content/drive/MyDrive/DATA/STOCK MARKET DATASET"  # Update with your path
all_files = glob.glob(path + "/*.csv")

df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
df

<ipython-input-3-0c452d3d0e08>:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,Company Name,Industry,ISIN Code
0,2002-02-18,BHARTI,EQ,0.00,51.90,51.90,43.50,44.70,44.35,46.00,10381190.0,4.775431e+13,NaN,6503775.0,0.6265,NaN,NaN,NaN
1,2002-02-19,BHARTI,EQ,44.35,45.15,45.15,41.30,41.35,41.70,42.58,3552660.0,1.512609e+13,NaN,1741184.0,0.4901,NaN,NaN,NaN
2,2002-02-20,BHARTI,EQ,41.70,40.60,42.80,40.25,41.20,41.25,41.56,2512964.0,1.044348e+13,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-02-21,BHARTI,EQ,41.25,42.85,43.40,42.15,42.20,42.40,42.76,1338196.0,5.722681e+12,NaN,485969.0,0.3632,NaN,NaN,NaN
4,2002-02-22,BHARTI,EQ,42.40,42.65,43.60,41.10,43.35,43.30,42.75,811327.0,3.468413e+12,NaN,399133.0,0.4920,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470429,2021-04-26,TECHM,EQ,950.20,951.00,970.00,937.00,970.00,962.20,949.75,5053998.0,4.800042e+14,84936.0,1947524.0,0.3853,NaN,NaN,NaN
470430,2021-04-27,TECHM,EQ,962.20,962.70,987.60,944.15,968.80,969.25,962.64,10497935.0,1.010578e+15,209748.0,2147311.0,0.2045,NaN,NaN,NaN
470431,2021-04-28,TECHM,EQ,969.25,975.00,980.00,968.00,977.90,977.40,974.22,2968625.0,2.892098e+14,83143.0,1490701.0,0.5022,NaN,NaN,NaN
470432,2021-04-29,TECHM,EQ,977.40,985.00,985.00,970.55,974.60,976.90,977.28,2747579.0,2.685149e+14,62023.0,1536386.0,0.5592,NaN,NaN,NaN
470433,2021-04-30,TECHM,EQ,976.90,973.80,976.90,955.40,958.85,960.40,968.21,3129105.0,3.029643e+14,70097.0,2104528.0,0.6726,NaN,NaN,NaN

Warning: total number of rows (470434) exceeds max_rows (20000). Limiting to first (20000) rows.

In [6]:
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,Company Name,Industry,ISIN Code
0,2002-02-18,BHARTI,EQ,0.00,51.90,51.90,43.50,44.70,44.35,46.00,10381190.0,4.775431e+13,NaN,6503775.0,0.6265,NaN,NaN,NaN
1,2002-02-19,BHARTI,EQ,44.35,45.15,45.15,41.30,41.35,41.70,42.58,3552660.0,1.512609e+13,NaN,1741184.0,0.4901,NaN,NaN,NaN
2,2002-02-20,BHARTI,EQ,41.70,40.60,42.80,40.25,41.20,41.25,41.56,2512964.0,1.044348e+13,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-02-21,BHARTI,EQ,41.25,42.85,43.40,42.15,42.20,42.40,42.76,1338196.0,5.722681e+12,NaN,485969.0,0.3632,NaN,NaN,NaN
4,2002-02-22,BHARTI,EQ,42.40,42.65,43.60,41.10,43.35,43.30,42.75,811327.0,3.468413e+12,NaN,399133.0,0.4920,NaN,NaN,NaN

In [11]:
df.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble', 'Company Name', 'Industry', 'ISIN Code'],
      dtype='object')